@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  line-height: 1.5;

}

#top-header {
  border-bottom: solid 1px #ccc;
}

.top-links li {
  padding: 7px 15px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: small;
}

.top-links li:hover {
  background-color: #064E3B;
  color: #ECFDF5;
  cursor: pointer
}

#slider div {
  height: 400px;
  background-color: #eee;
  border-bottom: solid 1px #ccc;
}

#slider div h3 {
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}